# APP
app/cache/*
app/logs/*
app/config/parameters.yml
app/bootstrap.php.cache
vendor

# WEB
web/bundles
web/media
web/assets


# Scripts
change_rights
clear_all

# NPM
/src/CoreBundle/Resources/node_modules
/src/CoreBundle/Resources/public/css/app.min.css
/src/CoreBundle/Resources/public/css/app.min.css.map

/src/CoreBundle/Resources/public/js/app.min.js
/src/CoreBundle/Resources/public/js/app.min.js.map

